.App {
  text-align: center;
  color: white;
  background-color: rgb(24, 24, 24);
  background-image: url("../src/assets/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}